.experience-container {
  padding: 20px;
  /* background-color: #ffffff; */
  /* border: 1px solid #ddd; */
  /* border-radius: 10px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  max-width: auto; /* Set a maximum width for the experience container */
  /* margin: 20px auto; */
}

.experience {
  display: flex;
  flex-wrap: wrap; /* Ensure items wrap to the next line if there's not enough space */
  gap: 20px; /* Add space between each experience item */
}

.experience-item {
  flex: 1;
  min-width: 300px; /* Ensure a minimum width for each item */
  background-color: #f9f9f9; /* Background color for each experience item */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.experience-item h3 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #333;
}

.dates {
  font-style: italic;
  color: #666;
}
